# Android generated
bin/
gen/

# Ant
local.properties

# Maven
target/
pom.xml.*
release.properties
library/tmp

# Eclipse
.classpath
.project
.externalToolBuilders/

# IntelliJ
*.iml
*.ipr
*.iws
.idea/
out/

# Mac 
.DS_Store
# Ignore gradle files
.gradle/
build/
